fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-chroma
langchain-text-splitters
chromadb
pypdf
docx2txt
unstructured
python-pptx
python-magic
jinja2
xhtml2pdf
python-dotenv
